
div.game{
    background-color: #360153;
    background-image: url("../images/background.jpg");
}

div.gameResults{
    background-color: #360153;
    background-image: url("../images/background.jpg");
}

div.header h1{
    color: #FAFAFA;
    font-family: "roslindale";
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 15px;
}

div.header h2{
    color: #FAFAFA;
    font-family: "teramo";
    font-size: 2vw;
    margin: 25px;
    text-align: right;
}

div.header{
    background-color: #141414;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}


div.wrapper {
    background-color: #141414;
    margin: 0;
    padding: 0;
    min-height: 115vh;
}

div.results {
  background-color: #141414;
  margin-bottom: 30px;
}

div.game p{
    color: #FAFAFA;
    text-align: center;
    font-family: "arnhem"; 
    font-size: 55px;
}



div.container{
    display: flex;
    padding-top: 60px;

}

div.card{
    align-items: center;
    justify-content: center;
    padding: 50px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  [type=radio] + img {
    cursor: pointer;
  }
  

  [type=radio]:checked + img {
    outline: 10px solid #AA11BB;
    opacity: 50%;
  }

  div.results{
    background-color: #FAFAFA;
  }

  div.past{
    padding:30px;
  }
  
button {
  background-color: #FAFAFA;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #141414;
  cursor: pointer;
  display: inline-block;
  font-family: "roslindale";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  max-width: 200px;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  margin: 30px;
  position: relative;
  text-align: center;
  width: 100%;
  float: right;
}

button:hover,
button:focus {
  opacity: .75;
}

  div.past h2{
    padding: 10px;
    color:#141414;
    font-size: 45px;
    font-family: rosalindale;
  }

  div.past p{
    padding: 10px;
    color:#141414;
    font-size: 35px;
    font-family: teramo;
    outline: solid 1px#141414;
  }

  div.present{
    padding:30px;
  }

  div.present h2{
    padding: 10px;
    color:#141414;
    font-size: 45px;
    font-family: rosalindale;
  }

  div.present p{
    padding: 10px;
    color:#141414;
    font-size: 35px;
    font-family: teramo;
    outline: solid 1px#141414;
  }

  div.future{
    padding:30px;
  }

  div.future h2{
    padding: 10px;
    color:#141414;
    font-size: 45px;
    font-family: rosalindale;
  }

  div.future p{
    padding: 10px;
    color:#141414;
    font-size: 35px;
    font-family: teramo;
    outline: solid 1px#141414;
  }

  
    .card img{
      width: 58%;
      height: auto;
      margin: auto;
      display: block;
      color: #111; 
      box-shadow: 0 0 150px rgb(175, 247, 31); 
  }

  
  

  @media screen and (max-width: 1508px) {
    .card img{
      width: 80%;
      height: auto;
      margin: auto;
      display: block;
      color: #111; 
      box-shadow: 0 0 150px rgb(175, 247, 31); 
  }
 
  }

  @media screen and (max-width: 880px) {
    
    .card img{
      width: 100%;
      height: auto;
      margin: auto;
      display: block;
      color: #111; 
      box-shadow: 0 0 150px rgb(175, 247, 31); 
  }

  button {
    font-size: 20px;
    max-width: 100px;
    min-height: 44px;
    min-width: 10px;
    margin: 30px;
  }
  
  div.past p{
    padding: 5px;
    font-size: 30px;
  }
  
  div.past h2{
    padding: 5px;
    font-size: 40px;
  }
  
  div.present p{
    padding: 5px;
    font-size: 30px;
  }
  
  div.present h2{
    padding: 5px;
    font-size: 40px;
  }
  
  div.future p{
    padding: 5px;
    font-size: 30px;
  }
  
  div.future h2{
    padding: 5px;
    font-size: 40px;
  }
  
  div.past{
      padding:15px;
    }
  
    div.present{
      padding:15px;
    }
  
    div.future{
      padding:15px;
      padding-bottom: 20px;
    }

    div.results button {
      font-size: 20px;
      max-width: 150px;
      min-height: 25px;
      min-width: 5px;
      margin: 15px;
    }  
    
    div.past{
      padding:25px;
    }
  
    div.present{
      padding:25px;
    }
  
    div.future{
      padding:25px;
      padding-bottom: 45px;
    }
  
  }

  

  @media screen and (max-width: 600px) {
    div.card img {
      max-width: 95%;
      height: auto;
      margin: auto;
      display: block;
      color: #111; 
      box-shadow: 0 0 100px rgb(175, 247, 31); 
      
    }

    div.card{
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin-bottom: 60px;
  }

  div.header h2{
    margin: 10px;

}
button {
  font-size: 20px;
  max-width: 85px;
  min-height: 25px;
  min-width: 5px;
  margin: 15px;
}

div.past p{
  padding: 5px;
  font-size: 15px;
}

div.past h2{
  padding: 5px;
  font-size: 30px;
}

div.present p{
  padding: 5px;
  font-size: 15px;
}

div.present h2{
  padding: 5px;
  font-size: 30px;
}

div.future p{
  padding: 5px;
  font-size: 15px;
}

div.future h2{
  padding: 5px;
  font-size: 30px;
}

div.past{
    padding:15px;
  }

  div.present{
    padding:15px;
  }

  div.future{
    padding:15px;
    padding-bottom: 20px;
  }

  [type=radio]:checked + img {
    outline: 3px solid #AA11BB;
  }

  div.results h1{
    font-size: 25px;
    text-align: bottom;
  }

  div.results button {
    font-size: 20px;
    max-width: 300px;
    min-height: 25px;
    min-width: 5px;
    margin: 15px;
  }

  div.buttonAlign{
    margin-right: 5%;
    
  }

  }