div.game{
    background-color: #360153;
    background-image: url("../images/background.jpg");
}

div.gameResults{
    background-color: #360153;
    background-image: url("../images/background.jpg");
}

div.header h1{
    color: #FAFAFA;
    font-family: "roslindale";
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 15px;
}

div.header h2{
    color: #FAFAFA;
    font-family: "teramo";
    font-size: 2vw;
    margin: 25px;
    text-align: right;
}

div.header{
    background-color: #141414;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}


div.wrapper {
    background-color: #141414;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

div.game p{
    color: #FAFAFA;
    text-align: center;
    font-family: "arnhem"; 
    font-size: 55px;
}

.card img{
    max-width: 58%;
    height: auto;
    margin: auto;
    display: block;
    color: #111; 
    box-shadow: 0 0 150px rgb(175, 247, 31); 
}


div.container{
    display: flex;
    padding-top: 60px;

}

div.card{
    align-items: center;
    justify-content: center;
    padding: 50px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  [type=radio] + img {
    cursor: pointer;
  }
  

  [type=radio]:checked + img {
    outline: 10px solid #AA11BB;
    opacity: 50%;
  }

  div.results{
    background-color: #FAFAFA;
  }

  div.past{
    padding:30px;
  }
  
button {
  background-color: #FAFAFA;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #141414;
  cursor: pointer;
  display: inline-block;
  font-family: "roslindale";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  max-width: 200px;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  margin: 30px;
  position: relative;
  text-align: center;
  width: 100%;
  float: right;
}

button:hover,
button:focus {
  opacity: .75;
}

  div.past h2{
    padding: 10px;
    color:#141414;
    font-size: 45px;
    font-family: rosalindale;
  }

  div.past p{
    padding: 10px;
    color:#141414;
    font-size: 35px;
    font-family: teramo;
    outline: solid 1px#141414;
  }

  div.present{
    padding:30px;
  }

  div.present h2{
    padding: 10px;
    color:#141414;
    font-size: 45px;
    font-family: rosalindale;
  }

  div.present p{
    padding: 10px;
    color:#141414;
    font-size: 35px;
    font-family: teramo;
    outline: solid 1px#141414;
  }

  div.future{
    padding:30px;
  }

  div.future h2{
    padding: 10px;
    color:#141414;
    font-size: 45px;
    font-family: rosalindale;
  }

  div.future p{
    padding: 10px;
    color:#141414;
    font-size: 35px;
    font-family: teramo;
    outline: solid 1px#141414;
  }